@import "variables";
@import "mixin";
@import "style_progressBar.scss";

h2 {
    color: $colorSection1;
}

h3 {
    color: $colorSection1;
    font-style: italic;
}
.firstSection {
    @include implementFlex(column, start, flex-end);
    color: $colorFontSection1;
    padding: 0 20px 0 0;
    height: 63%;
}
.progressBar {
    @include implementFlex(column, center, center);
}

.secondSection {
    @include implementFlex(row, center, center);
}
.fourSection {
    @include implementFlex(row, space-evenly, center);
    padding: 10px;
    height: 70%;
}
#section5 {
    background-color: $colorSection5;
}
.fivesSection {
    @include implementFlex(row, space-evenly, center);
    padding: 10px;
    height: 70%;
}

.bgColorNavbar {
    background-color: $colorNavBar !important;
}

.section:nth-child(1) {
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
    color: #fbfbfb;
    font-weight: bold;
}

.secondSection > img {
    border-radius: 100%;
    border-color: #3b697869;
    border-style: inset;
    max-width: 30%;
}

.secondSection div {
    text-align: justify;
    padding: 3%;
}

.secondSection {
    padding: 5%;
}

.thirdSection {
    @include implementFlex(row, space-evenly, center);
    height: 70%;
}

.section h2 {
    text-align: center;
}

.fourSection img {
    max-width: 80%;
}

.fourSection > * {
    flex: 1;
    text-align: center;
}

.card_proyect > a > img {
    border-radius: 10px;
}
.card_proyect > a > img:hover {
    border: 3px groove $colorSection1;
}

#img1 {
    width: 38%;
}
#img2 {
    width: 58%;
}
#img3 {
    width: 48%;
}

@media (max-width: 450px) {
    .section:nth-child(1) {
        background-image: url("../img/bg2.jpg");
        background-size: cover;
    }
    .firstSection {
        display: flex;
        padding: 0;
        align-items: flex-start;
    }

    .secondSection,
    .fourSection {
        flex-direction: column;
    }
    .thirdSection {
        flex-direction: column;
        justify-content: center;
    }
    .fivesSection {
        flex-direction: column;
        padding-top: 60px;
    }

    .secondSection p {
        font-size: 1.2em;
    }
    .card_proyect:nth-child(1) {
        margin-top: 25px;
    }
    #img1 {
        width: 30%;
    }
    #img2 {
        width: 52%;
    }
    #img3 {
        width: 43%;
    }
}

.btn:focus {
    box-shadow: none;
    outline: 0px;
}
